<p>Here you can access an image reference for the floor mapping of a library you might be interested in visiting!</p>
<p>For now, we leave a few examples here:</p>
<br>
<br>
<br>
<p>Concordia University Library, :</p>
<img src="https://library.concordia.ca/locations/floor-plans/images/LB2-SC-DM.png" alt="Concordia University"
style="width:700px;height:700px;">
<br>
<br>
<br>
<p>University of Miami Library:</p>
<img src="https://umlibraryeast.blob.core.windows.net/uploads/2021/08/music-lib-1st-floor-map-2021.jpg" alt="Miami Uni"
style="width:700px;height:700px;">
<br>
<br>
<br>
<p>University Puerto Rico, Mayaguez Campus Library, First Floor:</p>
<img src="https://s3.amazonaws.com/libapps/accounts/107690/images/mapa-gric.jpg" alt="UPRM"
style="width:700px;height:700px;">