<div class="container">
  <div class="search-container">
    <mat-form-field appearance="fill">
      <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)">
    </mat-form-field>
  </div>


  <div *ngFor="let book of currentBooks">
    <app-book-item [book]="book"></app-book-item>
  </div>

  <mat-paginator #paginator
                 [length]="totalBooksFound"
                 [pageSize]="defaultPageSize"
                 [pageSizeOptions]="[2,5,10,25,100]"
                 (page)="handlePaginator($event)">
  </mat-paginator>

</div>
