@use '@angular/material' as mat;
@import "~@angular/material/theming";
@import '../../../styles.scss';

$primary: map-get($my-app-theme, primary);

mat-grid-tile {
  background: mat-color($primary);
}

.my-card {
  background: lavender;
  width: 100%;
}
