<mat-card class="primary-color">
  <mat-card-title>Book Collection</mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Currenty Borrowed">
        <div *ngFor="let book of collection.currentlyBorrowed">
          <app-book-item [book]="book"></app-book-item>
        </div>
      </mat-tab>
      <mat-tab label="Wishlist">
        <div *ngFor="let book of collection.wishlist">
          <app-book-item [book]="book"></app-book-item>
        </div>
      </mat-tab>
      <mat-tab label="Returned">
        <div *ngFor="let book of collection.returned">
          <app-book-item [book]="book"></app-book-item>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

