<!-- wp:image {"align":"wide","id":14,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image alignwide size-large"><img src="https://librarymanagementteam07.files.wordpress.com/2022/03/17fatbooks-mobilemasterat3x-1.jpg?w=1024" alt="" class="wp-image-14"/></figure>
<!-- /wp:image -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:heading -->
<h2>About the project</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The Library Management System will be an application that focuses on helping libraries manage their collection of books as well as making the library experience much easier and streamlined for the application's main demographic: the library visitors.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:heading -->
<h2>Goals</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The application will be able to help users find and access books found in the library. Its features shall encourage more people to go to libraries and read books. The library management system will accomplish this via its user-friendly UI and the features included in the application, allowing users to who have never visited a library before to be just as prepared as someone who is already very familiar with them.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:heading {"level":3} -->
<h3>Features</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The library management system will have a search function that allows users to find a specific book they are looking for or filter by distinct categories and genres. Each book will have information stored on it on the database. This information will include, but is not limited to, a description of the book, author, date of publishing and genre. The application will also feature a map so that users can better understand the layout of the library.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3>Details</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Libraries already keep a database with information on all their books, which is why the Library Management System will use the already existing database rather than creating its own. Although the application for now will be created based on its ability function in a single library, using a library's already existing database will help with making the application work with many distinct libraries.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>In addition, the Library Management System will not manage borrowing books, the creation of Library memberships, nor the payment for late fees. The application will, however, have access to this information in order to notify the user that their due date for returning the book is approaching. </p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:image {"id":39,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://librarymanagementteam07.files.wordpress.com/2022/03/image.jpg?w=965" alt="" class="wp-image-39"/><figcaption>ERD Diagram</figcaption></figure>
<!-- /wp:image -->
