@use '@angular/material' as mat;
@import "~@angular/material/theming";
@import '../../styles.scss';

$primary: map-get($my-app-theme, primary);
$accent: map-get($my-app-theme, accent);
$warn: map-get($my-app-theme, warn);

.primary-color {
  background: mat-color($primary);
}

.accent-color {
  background: mat-color($accent);
}

.warn-color {
  background: mat-color($warn);
}
