<section>
  <style> 

  #settingbut{
    text-align: right;
    
  }

  </style>
  <div id="settingbut">
    

    <button (click)="goToPage('usrsettings')">Settings</button> 


  </div>
</section>
<mat-card>
  <mat-card-title>Profile</mat-card-title>
  <mat-card-content>
    <mat-card-subtitle>{{currentUser.name}}</mat-card-subtitle>
    <div *ngIf="userLoaded">
      <app-book-collection [collectionId]="currentUser.book_collection_id"></app-book-collection>
    </div>

  </mat-card-content>
</mat-card>
